.DS_Store
*.pyc

## Android build ##
.buildozer
.buildozer/
*-debug.apk

## iOS build ##
.cache/
dist/
build/

.idea/
openmindset.zip

## database files
chat_sessions.db
preferences.db
text2img_sessions.db

venv/
