appdirs==1.4.4
buildozer==1.5.0
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
Cython==0.29.36
distlib==0.3.6
docutils==0.20.1
event-bus==1.0.2
filelock==3.12.1
idna==3.4
Jinja2==3.1.2
kaki==0.1.9
Kivy @ https://github.com/kivy/kivy/archive/master.zip#sha256=54c8fb2758f38deaaca6651b6bb415d809b01793d43395cfac0ad3aa8573a9ae
Kivy-examples==2.2.0
Kivy-Garden==0.1.5
kivymd @ https://github.com/kivymd/KivyMD/archive/master.zip#sha256=e55b90474afa09a6c971f4ef1cdf07a4e028d7e565d8165179b7fc9b8f6b4d1b
MarkupSafe==2.1.3
materialyoucolor==1.2.0
packaging==23.1
pep517==0.13.0
pexpect==4.8.0
Pillow==9.5.0
pip-review==1.3.0
platformdirs==3.5.3
ptyprocess==0.7.0
pycairo==1.23.0
Pygments==2.15.1
PyGObject==3.44.1
pyjnius==1.5.0
pyperclip==1.8.2
pywatchman==1.4.1
requests==2.31.0
sh==1.14.3
toml==0.10.2
urllib3==2.0.3
virtualenv==20.23.0
watchdog==3.0.0
